header{
    background-color:#60a4e5;
    background-image:url(../img/pattern.png);
    background-size: 650px;
    max-width: 1400px;
    height: 200px;
    margin: 0 auto;
}
#logo{
    background-image: url(../img/logo.svg);
    max-width: 1400px;
    height: 200px;
    background-size:300px;
    background-repeat: no-repeat;
    background-position: 0cm;
}
h1{
    font-size: 3.2em;
    max-width: 1400px;
    margin: 0 auto;
   
}
a{
    text-decoration: none;
}
section{
    max-width: 1400px;
    margin: 0 auto;
}
#intestazione-foto{
    color: grey;
}
p{
    font-size: 1.2em;
}
.importante{
    background-color: yellow;
}
ul{
    margin-left: -40px;
}