body{
    max-width: 1400px;
    margin: 0 auto;
}
header{
    background-color:#60a4e5;
    background-image:url(../img/pattern.png);
    background-size: 650px;
    max-width: 1400px;
    height: 200px;
    margin: 0 auto;
}
#logo{
    background-image: url(../img/logo.svg);
    max-width: 1400px;
    height: 200px;
    background-size:300px;
    background-repeat: no-repeat;
    background-position: 0cm;
}
h1{
    font-size: 3.2em;
    max-width: 1400px;
    margin: 0 auto;   
}
a{
    text-decoration: none;
    color: #60a4e5;
}
#intestazione-foto{
    color: grey;
}
p{
    font-size: 1.2em;
}
.importante{
    background-color: yellow;
}
ul{
    margin-left: -40px;
}
table{
    border-spacing: 0px;
}
thead{
    background-color: #0580d3;
    color: white;
    
}
.testa{
    width:33.3%;

}
.body-color{
    background-color: #80bfe4;
}
h3{
    color: grey;
}
#foto1{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    font-size:130%; 
    height: 190px;
    color: white;
}
#foto2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    font-size:130%; 
    height: 190px;
    margin-top: 15px;
    color: white;
}
.nome-foto{
    padding: 10px;
}
